.button {
    background-color: var(--bg-button);
    padding: 16px 0;
    width: 100%;
    height: 56px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: var(--text-color-white);
    margin-bottom: 32px;
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    transition: .5s;
    margin-top: 40px;
}

.disabledButton {
    background-color: green;
    cursor: crosshair;
}

.button:hover {
    background-color: var(--bg-button-hover);
}

.button:active {
    background-color: var(--bg-button-active);
}

.filterBtn {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 14px 0;
    text-align: center;
    background-color: var(--bg-input);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 0;
}

.filterBtn:last-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.filterBtnActive {
    background-color: var(--background-color-black);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 14px 0;
    text-align: center;
}

.btnSubmit {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 14px 0;
    text-align: center;
    background-color: var(--bg-input);
    margin: 0;
}

.btnShow {
    padding: 8px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color-white);
    background-color: var(--bg-input);
    border-radius: 40px;
    max-width: 161px;
    width: 100%;
    margin: 0 auto;
    height: 40px;
    border: none;
}

.btnShow:active {
    background-color: var(--bg-input);
}

.btnFeatures {
    background-color: var(--background-color-black);
    padding: 19 0;
    height: 47px;
    margin-right: 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 0 1px 0 0;
}

.btnFeatures:last-child {
    background-color: var(--background-color-black);
    padding: 19 0;
    height: 47px;
    margin-right: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btnFeatures:hover {
    background-color: var(--bg-input);
}

.btnFeatures:active {
    background-color: var(--bg-input);
}

.settingsBtn {
    margin: 0;
    background-color: var(--bg-input);
}

.settingsBtn:active {
    background-color: var(--text-color-lilac);
}

.spinner {
    margin: 0 auto;
    width: 16px;
    height: 16px;
    border: 3px solid;
    border-color: var(--bg-button) transparent var(--bg-button) transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}