.form {
    margin-bottom: 226px;
    width: 574px;
    height: 452px;
    padding: 40px;
    background-color: var(--background-color-black);
    border-radius: 10px;
    z-index: 2;
}

.fieldset {
    border: none;
    position: relative;
}

.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 40px;
    color: var(--text-color-white);
}

.caption {
    margin-top: -16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color-white-grey);
    margin-bottom: 40px;
}

.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color-white-grey);
    text-align: center;
}

.errorMessage {
    position: absolute;
    top: 185px;
    left: 0;
    color: var(--text-color-white-grey);
}

.disabledButton {
    background-color: var(--text-color-white-grey);
    cursor: not-allowed;
}

.disabledButton:hover {
    background-color: var(--text-color-white-grey);
}