.form {
    margin-bottom: 87px;
    width: 574px;
    height: 732px;
    padding: 40px;
    background-color: var(--background-color-black);
    border-radius: 10px;
    z-index: 2;
}

.fieldset {
    border: none;
}

.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 40px;
    color: var(--text-color-white);
}

.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color-white-grey);
    text-align: center;
}

.link {
    color: var(--text-color-lilac);
    text-decoration: none;
}