* {
    font-family: 'Exo 2';
}

.container {
    margin-right: 41px;
    max-width: 1184px;
    width: 100%;
    position: relative;
}

.input {
    border-radius: 10px;
    padding: 16px 20px;
    outline: none;
    border: none;
    width: 100%;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background-color: var(--bg-input);
    margin-right: 41px;
    color: var(--text-color-white);
}

.svg {
    position: absolute;
    top: 22px;
    right: 22px;
    cursor: pointer;
    transition: .5s;
}

.svg:hover path {
    stroke: var(--text-color-lilac);
    transition: .5s;
}

.dropdownContainer {
    position: relative;
    width: 100%;
    height: 0;
    /*чтобы верстка не расползалась*/
}

.dropdownContainer>* {
    position: absolute;
    display: none;
}